* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

:root {
  --border-color: #fdd000;
  --grey-color: #fff
}

html,
body {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: #171717;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--border-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f2efe2;
}

p {
  color: var(--grey-color);
}

@media (max-width: 768px) {
  .pd-main {
    padding: 0 2rem;
  }

  .center {
    text-align: center;
    justify-content: center;
  }
}
